.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    color: white;
    font-size: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}