<div class="form-container">
  <form class="nihil-add-form" [formGroup]="formGroup" (ngSubmit)="submitNihilPost()">
    <div class="input-container">
      <mat-form-field class="example-full-width">
        <mat-label>Is there nothing on your mind?</mat-label>
        <input matInput #message maxlength="256" formControlName="nihil" placeholder="Ex. I need help with...">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Post</button>
    </div>
  </form>
</div>
