<div class="nihil-list">
  <div class="users-container">
    <h3>@own nihilism | own pain</h3>
  </div>
  <mat-card *ngFor="let nihil of nihils.reverse()">
    <mat-card-content>
      <div class="card-content-wrapper">
        <div class="post-content">{{ nihil.post }}</div>
        <i (click)="removeNihileet(nihil.id ?? 0)" class="material-icons">remove_circle_outline</i>
      </div>
      <br>
      <span class="post-date">{{ nihil.postDate | date:'medium' }}</span>
    </mat-card-content>
  </mat-card>
  <br>
</div>
