.nihil-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  mat-card {
    width: 700px;
    margin: 4px;
  }
  
  h3 {
    font-weight: bold;
    text-align: center; /* Added property */
  }
  
  .mat-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .card-content-wrapper {
    display: flex;
    align-items: center;
  }
  
  .post-content {
    flex-grow: 1;
  }
  
  .material-icons {
    cursor: pointer;
    vertical-align: middle;
  }
  