<div id="dreapta">unu</div>
<div id="stanga">
    <i class="material-icons">home</i>Home

    <i class="material-icons">search</i>Search
    <br>
    <i class="material-icons">account_box</i> Profile
    <br>
    <i class="material-icons">people</i> Friends
    <br>
    <i class="material-icons">newspaper</i> Notification
</div>
<div id="mijloc">
    <div class="second-grid-container">
        <h3>HOME</h3>
    <app-nihil-add></app-nihil-add>
    <app-nihil-list></app-nihil-list>
    </div>

</div>


<!-- <app-user-register></app-user-register> -->



<router-outlet></router-outlet>
<!-- <app-user-login></app-user-login> -->
